/* button related */
.button-primary{
    background-color: #00adb5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button-primary:hover {  background-color: #33c1c9;
}

.button-secondary{
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button-secondary:hover {
    background-color: #5a6268;
}

.button-danger {
    background-color: #ff5252;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
.button-danger:hover {
    background-color: #ff4040;
  }