/* Card related */
.card{
    background-color: #3c3c4c; /* Slate Gray */
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin: 1% 5%;
    padding: 1% 1%;
}


.card-title-primary{
    color: #76e4f7; /* Cyan */
    text-align: left;
    font-weight:bolder;
    display: block;
    padding:1% 1%;
    font-size: larger;
}

.card-title-secondary{
    color: #76e4f7; /* Cyan */
    font-weight:bolder;
    display:flex;
    justify-content: space-between;
    padding:0% 1%;
    font-size: larger;
}

.card-title{
    text-align: left;
    display: inline-block;
}

.card-time{
    text-align: right;
    display: inline-block;
}

.card-text{
    color: #cccccc; /* Gray */
    text-align: justify;
    margin:0;
    padding:1% 1%;
    line-height:1.5rem;
}

.card-text h4{
    margin:1% 0%;
    font-weight: bold;
}

/* Card items */
.card ul{
    margin:0% 0%;
    padding:1% 2.5%;
    list-style: disc;
    list-style-position: inside;
}

.card li{
    font-weight:normal;
    text-align: left;
    line-height:1.5rem;
}

.card-list-ul{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    gap: 0.5rem; /* Space between items */
}

.card-list-li{
    flex: 1 1 calc(33.333% - 1rem); /* Each item takes 1/3 of the width */
}