.image{
    border-radius: 8px;
    margin: 1%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    width: 10rem; /* 10 times the root font size (160px) */
    height: auto; /* Maintain aspect ratio */
}