html{
    height:100%;
}

body {
    background-image: url('../img/gear.png');
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#nav ul{
    background-color: rgb(74, 159, 162);
    border:none;
    margin:0%;
    padding:0%;
}

#nav li{
  display: inline-block;
    border:none;
}

#nav a{
    background-color: rgb(74, 159, 162);
    text-decoration: None;
    color:rgb(1, 66, 92);
    font-weight:bold;
    display:block;
    text-align:center;
    text-transform:uppercase;
    width:164px;
    line-height:36px;
}

#nav a:hover
 {
   background-color:rgb(45, 119, 121);
}

.box {
    display:flex;
    background-color: rgb(45, 119, 121);
    flex-direction:column;
    height:100%;
    overflow:auto;
}

.row{
    flex-direction: row;
}

.center {
    margin: auto;
    width: 75%;
    height:100%;
}