<h1 class="header-primary">Education</h1>
<div class="card">
  <div class="card-title-secondary">
    <div class="card-title">
        Oregon State University, Oregon, USA
    </div>
    <div class="card-time">
        Mar 2022 - Jun 2024
    </div>
  </div>
  <div class="card-text">
    <h4>
      Related courseworks: 
    </h4>
    <span>
      Data Structure,
      Computer Architecture,
      Writing for Science and Engineering,
      Introduction to Theory of Computation,
      Analysis of Algorithms,
      Programming Language Fundamental,
      Machine Learning,
      Introduction to Computer Graphics,
      NLP with Deep Learning,
      Computer Graphics Shaders,
      Introduction to Parallel Programming,
      Operating Systems II,
      Deep Learning,
      Probabilistic Graphical Models,
      Algorithms,
      Advanced Graphical Models,
      Network Security
    </span>
  </div>
</div>
<div class="card">
  <div class="card-title-secondary">
    <div class="card-title">
        Asia Pacific University, Kuala Lumpur, Malaysia
    </div>
    <div class="card-time">
        Apr 2016 - Jul 2020
    </div>
  </div>
  <div class="card-text">
    <h4>
      Related courseworks: 
    </h4>
    <span>
      Analysis of Circuit, Instrumentation and Measurement, Introduction to Management,
      Engineering Mathematics 1,
      Engineering Mathematics 2,
      Engineering Materials,
      Introduction to C programming,
      Engineering Design,
      Engineering Statics and Dynamics,
      Analogue Electronics,
      Digital Electronics,
      Engineering Mathematics 3,
      Intermediate Robotics,
      Signals and Linear Systems,
      Electromagnetic Field Theory,
      Sensors and Actuators,
      Strength of Materials,
      Engineering Software and Applications,
      Introduction to Electrical System,
      Control Engineering,
      Communication Engineering Principles,
      Machine Design,
      PLC and Pneumatic Systems,
      Microprocessor Systems and Embedded Software,
      Numerical Methods Statistics,
      Fluid Mechanics,
      Advanced Robotics,
      Digital Signal Processing,                        
      Engineering Project Management,
      Thermodynamics and Heat Transfer
    </span>
  </div>
</div>