
<h1 class="header-primary">Experiences</h1>

<div class="card">
    <div class="card-title-primary">Industry Collaborator</div>
    <div class="card-title-secondary">
        <div class="card-title">
            HP Inc, Corvallis, OR 
        </div>
        <div class="card-time">
            Sep 2023 - Jun 2024
        </div>
    </div>
    <div class="card-text">
        <ul>
            <li>
            Trained and analyzed models for <b>4</b> leading deep learning models for image segmentation
            </li>
            <li>
            Developed and optimized <b>Python</b> scripts using <b>Pytorch</b> for training and testing, improving workflow efficiency and model reliability for corporate use
            </li>
            <li>
            Regularly presented technical findings and strategic insights during weekly meetings with HP Inc. project partner
            </li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-title-primary">Graduate Teaching Assistant</div>
    <div class="card-title-secondary">
        <div class="card-title">
            Oregon State University, Corvallis, OR
        </div>
        <div class="card-time">
            Sep 2023 - Jun 2024
        </div>
    </div>
    <div class="card-text">
        <ul>
            <li>
            TDelivered personalized assistance to students during office hours and provided guidance on assignments in Operating System I and II.
            </li>
            <li>
            Contributed to the instruction of a diverse student body, supporting over <b>300</b> individuals in their academic pursuits.
            </li>
            <li>
                Hosted weekly sections to facilitate engaging and interactive learning environments for students.
            </li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-title-primary">Digitalization and Automation Engineer</div>
    <div class="card-title-secondary">
        <div class="card-title">
            Top Glove Corporation Berhad, Klang, Malaysia  
        </div>
        <div class="card-time">
             Sep 2020 - Mar 2021
        </div>
    </div>
    <div class="card-text">
        <ul>
            <li>
                Devised and developed <b>3 PowerApps</b> to automate manual order systems in <b>3</b> different factories to improve efficiency of order systems and staff.
            </li>
            <li>
                Designed <b>2 LabVIEW</b> programs for production lines to capture and transfer real-time data to the cloud to enable Industrial 4.0.
            </li>
            <li>
                Installed <b>80</b> sensors on <b>20</b> production lines and connected these sensors to <b>IOT</b> for real-time monitoring and performance evaluation.
            </li>
            <li>
                Partnered with co-workers to write <b>Power BI</b> queries to visualize real-time data on the dashboard for effective monitoring and immediate response to production issues in <b>3</b> factories.
            </li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-title-primary">MIT Solutions Software Engineer (Intern)</div>
    <div class="card-title-secondary">
        <div class="card-title">
             Intel Products, Kulim, Malaysia  
        </div>
        <div class="card-time">
             Feb 2019 – Aug 2019
        </div>
    </div>
    <div class="card-text">
        <ul>
            <li>
                Worked in a team to design and develop a web application by adopting <b>Angular</b> framework, <b>C#</b>, and <b>Typescript</b> with <b>Agile</b> to reduce development time and cost.
            </li>
            <li>
                Employed <b>Postman</b> for API testing, resolving issues to enhance application performance and security.
            </li>
            <li>
                Provided technical support to maintain web application performance by completing <b>50</b> requests.
            </li>
            <li>
                Identified and resolved <b>10</b> web application vulnerabilities with high and medium risks to raise reliability and enhance security.
            </li>
        </ul>
    </div>
</div>